In [1]:
import pandas as pd
import numpy as np


# Read csv Data
df= pd.read_csv('Resources/aac_shelter_outcomes.csv')
df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [2]:
# Create df with only needed columns

s_df = df[['animal_type','breed','outcome_type']]
s_df.head(10)

  animal_type                    breed outcome_type
0         Cat   Domestic Shorthair Mix     Transfer
1         Dog               Beagle Mix     Transfer
2         Dog                 Pit Bull     Adoption
3         Dog  Miniature Schnauzer Mix     Transfer
4       Other                  Bat Mix   Euthanasia
5         Dog           Leonberger Mix     Transfer
6       Other             Squirrel Mix   Euthanasia
7         Dog  Chihuahua Shorthair Mix     Transfer
8         Cat   Domestic Shorthair Mix     Adoption
9         Cat   Domestic Shorthair Mix     Adoption

In [3]:
# Check animal types

s_df['animal_type'].value_counts()

Dog          44242
Cat          29422
Other         4249
Bird           334
Livestock        9
Name: animal_type, dtype: int64

In [4]:
# Keep only records of dogs and cats

dc_df= s_df.loc[df['animal_type'].isin(['Dog','Cat'])]
dc_df.head()

  animal_type                    breed outcome_type
0         Cat   Domestic Shorthair Mix     Transfer
1         Dog               Beagle Mix     Transfer
2         Dog                 Pit Bull     Adoption
3         Dog  Miniature Schnauzer Mix     Transfer
5         Dog           Leonberger Mix     Transfer

In [5]:
# Create a list of the top 10 breeds of Dogs/Cats

top_breeds = dc_df['breed'].value_counts()
top_breeds = top_breeds.rename_axis('unique_values').reset_index(name='counts').head(10)
top_breeds_list = top_breeds['unique_values'].tolist()

top_breeds_list

['Domestic Shorthair Mix',
 'Pit Bull Mix',
 'Chihuahua Shorthair Mix',
 'Labrador Retriever Mix',
 'Domestic Medium Hair Mix',
 'German Shepherd Mix',
 'Domestic Longhair Mix',
 'Australian Cattle Dog Mix',
 'Siamese Mix',
 'Dachshund Mix']

In [6]:
# Keep only records from top 10 breeds

t10_df= dc_df.loc[dc_df['breed'].isin(top_breeds_list)]
t10_df.head()

   animal_type                     breed     outcome_type
0          Cat    Domestic Shorthair Mix         Transfer
7          Dog   Chihuahua Shorthair Mix         Transfer
8          Cat    Domestic Shorthair Mix         Adoption
9          Cat    Domestic Shorthair Mix         Adoption
10         Cat  Domestic Medium Hair Mix  Return to Owner

In [7]:
# Check outcomes

top_outcomes = t10_df['outcome_type'].value_counts()
top_outcomes

Adoption           20610
Transfer           16932
Return to Owner     6756
Euthanasia          2200
Died                 449
Rto-Adopt             92
Missing               39
Disposal              25
Name: outcome_type, dtype: int64

In [8]:
# Create list of top 5 outcomes

top_outcomes = t10_df['outcome_type'].value_counts()
top_outcomes = top_outcomes.rename_axis('unique_values').reset_index(name='counts').head(5)
top_outcomes_list = top_outcomes['unique_values'].tolist()
top_outcomes_list

['Adoption', 'Transfer', 'Return to Owner', 'Euthanasia', 'Died']

In [9]:
# Keep only records from top 5 outomes

t5_df = t10_df.loc[t10_df['outcome_type'].isin(top_outcomes_list)]
t5_df.head()

   animal_type                     breed     outcome_type
0          Cat    Domestic Shorthair Mix         Transfer
7          Dog   Chihuahua Shorthair Mix         Transfer
8          Cat    Domestic Shorthair Mix         Adoption
9          Cat    Domestic Shorthair Mix         Adoption
10         Cat  Domestic Medium Hair Mix  Return to Owner

In [10]:
t5_df['animal_type'].value_counts()

Cat    27807
Dog    19140
Name: animal_type, dtype: int64

In [11]:
t5_df['breed'].value_counts()

Domestic Shorthair Mix       23269
Pit Bull Mix                  6090
Chihuahua Shorthair Mix       4719
Labrador Retriever Mix        4593
Domestic Medium Hair Mix      2318
German Shepherd Mix           1887
Domestic Longhair Mix         1226
Australian Cattle Dog Mix     1058
Siamese Mix                    994
Dachshund Mix                  793
Name: breed, dtype: int64

In [12]:
t5_df['outcome_type'].value_counts()

Adoption           20610
Transfer           16932
Return to Owner     6756
Euthanasia          2200
Died                 449
Name: outcome_type, dtype: int64

In [13]:
t5_df.groupby(['animal_type', 'breed']).count()

                                       outcome_type
animal_type breed
Cat         Domestic Longhair Mix              1226
            Domestic Medium Hair Mix           2318
            Domestic Shorthair Mix            23269
            Siamese Mix                         994
Dog         Australian Cattle Dog Mix          1058
            Chihuahua Shorthair Mix            4719
            Dachshund Mix                       793
            German Shepherd Mix                1887
            Labrador Retriever Mix             4593
            Pit Bull Mix                       6090

In [14]:
# Create first half of diagram inputs with groupby of breed and outcome

ab_df = t5_df.groupby(['animal_type', 'breed'], as_index=False).count()

# Rename columns

columns = {'animal_type': 'source', 
           'breed': 'target',
           'outcome_type':'value'}
ab_df = ab_df.rename(columns = columns)
ab_df

  source                     target  value
0    Cat      Domestic Longhair Mix   1226
1    Cat   Domestic Medium Hair Mix   2318
2    Cat     Domestic Shorthair Mix  23269
3    Cat                Siamese Mix    994
4    Dog  Australian Cattle Dog Mix   1058
5    Dog    Chihuahua Shorthair Mix   4719
6    Dog              Dachshund Mix    793
7    Dog        German Shepherd Mix   1887
8    Dog     Labrador Retriever Mix   4593
9    Dog               Pit Bull Mix   6090

In [15]:
# Create second half of diagram inputs withgroupby of breed and outcome

bo_df = t5_df.groupby(['breed', 'outcome_type'], as_index=False).count()

# Rename columns

columns = {'breed': 'source', 
           'outcome_type': 'target',
           'animal_type':'value'}
bo_df = bo_df.rename(columns = columns)
bo_df

                       source           target  value
0   Australian Cattle Dog Mix         Adoption    587
1   Australian Cattle Dog Mix             Died      5
2   Australian Cattle Dog Mix       Euthanasia     26
3   Australian Cattle Dog Mix  Return to Owner    239
4   Australian Cattle Dog Mix         Transfer    201
5     Chihuahua Shorthair Mix         Adoption   2219
6     Chihuahua Shorthair Mix             Died     27
7     Chihuahua Shorthair Mix       Euthanasia    150
8     Chihuahua Shorthair Mix  Return to Owner   1143
9     Chihuahua Shorthair Mix         Transfer   1180
10              Dachshund Mix         Adoption    388
11              Dachshund Mix             Died      1
12              Dachshund Mix       Euthanasia     17
13              Dachshund Mix  Return to Owner    194
14              Dachshund Mix         Transfer    193
15      Domestic Longhair Mix         Adoption    580
16      Domestic Longhair Mix             Died     20
17      Domestic Longhair Mix       Euthanasia     83
18      Domestic Longhair Mix  Return to Owner     96
19      Domestic Longhair Mix         Transfer    447
20   Domestic Medium Hair Mix         Adoption   1052
21   Domestic Medium Hair Mix             Died     38
22   Domestic Medium Hair Mix       Euthanasia    134
23   Domestic Medium Hair Mix  Return to Owner     97
24   Domestic Medium Hair Mix         Transfer    997
25     Domestic Shorthair Mix         Adoption   9901
26     Domestic Shorthair Mix             Died    311
27     Domestic Shorthair Mix       Euthanasia   1123
28     Domestic Shorthair Mix  Return to Owner   1026
29     Domestic Shorthair Mix         Transfer  10908
30        German Shepherd Mix         Adoption    895
31        German Shepherd Mix             Died      6
32        German Shepherd Mix       Euthanasia     51
33        German Shepherd Mix  Return to Owner    565
34        German Shepherd Mix         Transfer    370
35     Labrador Retriever Mix         Adoption   2262
36     Labrador Retriever Mix             Died     16
37     Labrador Retriever Mix       Euthanasia    117
38     Labrador Retriever Mix  Return to Owner   1202
39     Labrador Retriever Mix         Transfer    996
40               Pit Bull Mix         Adoption   2265
41               Pit Bull Mix             Died     13
42               Pit Bull Mix       Euthanasia    442
43               Pit Bull Mix  Return to Owner   2126
44               Pit Bull Mix         Transfer   1244
45                Siamese Mix         Adoption    461
46                Siamese Mix             Died     12
47                Siamese Mix       Euthanasia     57
48                Siamese Mix  Return to Owner     68
49                Siamese Mix         Transfer    396

In [16]:
final_values_df = pd.concat([ab_df,bo_df],ignore_index=True)
final_values_df

                       source                     target  value
0                         Cat      Domestic Longhair Mix   1226
1                         Cat   Domestic Medium Hair Mix   2318
2                         Cat     Domestic Shorthair Mix  23269
3                         Cat                Siamese Mix    994
4                         Dog  Australian Cattle Dog Mix   1058
5                         Dog    Chihuahua Shorthair Mix   4719
6                         Dog              Dachshund Mix    793
7                         Dog        German Shepherd Mix   1887
8                         Dog     Labrador Retriever Mix   4593
9                         Dog               Pit Bull Mix   6090
10  Australian Cattle Dog Mix                   Adoption    587
11  Australian Cattle Dog Mix                       Died      5
12  Australian Cattle Dog Mix                 Euthanasia     26
13  Australian Cattle Dog Mix            Return to Owner    239
14  Australian Cattle Dog Mix                   Transfer    201
15    Chihuahua Shorthair Mix                   Adoption   2219
16    Chihuahua Shorthair Mix                       Died     27
17    Chihuahua Shorthair Mix                 Euthanasia    150
18    Chihuahua Shorthair Mix            Return to Owner   1143
19    Chihuahua Shorthair Mix                   Transfer   1180
20              Dachshund Mix                   Adoption    388
21              Dachshund Mix                       Died      1
22              Dachshund Mix                 Euthanasia     17
23              Dachshund Mix            Return to Owner    194
24              Dachshund Mix                   Transfer    193
25      Domestic Longhair Mix                   Adoption    580
26      Domestic Longhair Mix                       Died     20
27      Domestic Longhair Mix                 Euthanasia     83
28      Domestic Longhair Mix            Return to Owner     96
29      Domestic Longhair Mix                   Transfer    447
30   Domestic Medium Hair Mix                   Adoption   1052
31   Domestic Medium Hair Mix                       Died     38
32   Domestic Medium Hair Mix                 Euthanasia    134
33   Domestic Medium Hair Mix            Return to Owner     97
34   Domestic Medium Hair Mix                   Transfer    997
35     Domestic Shorthair Mix                   Adoption   9901
36     Domestic Shorthair Mix                       Died    311
37     Domestic Shorthair Mix                 Euthanasia   1123
38     Domestic Shorthair Mix            Return to Owner   1026
39     Domestic Shorthair Mix                   Transfer  10908
40        German Shepherd Mix                   Adoption    895
41        German Shepherd Mix                       Died      6
42        German Shepherd Mix                 Euthanasia     51
43        German Shepherd Mix            Return to Owner    565
44        German Shepherd Mix                   Transfer    370
45     Labrador Retriever Mix                   Adoption   2262
46     Labrador Retriever Mix                       Died     16
47     Labrador Retriever Mix                 Euthanasia    117
48     Labrador Retriever Mix            Return to Owner   1202
49     Labrador Retriever Mix                   Transfer    996
50               Pit Bull Mix                   Adoption   2265
51               Pit Bull Mix                       Died     13
52               Pit Bull Mix                 Euthanasia    442
53               Pit Bull Mix            Return to Owner   2126
54               Pit Bull Mix                   Transfer   1244
55                Siamese Mix                   Adoption    461
56                Siamese Mix                       Died     12
57                Siamese Mix                 Euthanasia     57
58                Siamese Mix            Return to Owner     68
59                Siamese Mix                   Transfer    396

In [17]:
# Save csv
final_values_df.to_csv("breeds_data",index=False)




# <center> Cat Outcomes By Color

In [18]:
# Keep only needed Columns
dc2_df = df[['animal_type','color','outcome_type']]

# Keep only records of dogs and cats
c_df = dc2_df.loc[dc2_df['animal_type'].isin(['Cat'])]

# Lit of top cat colors
cat_color = c_df['color'].value_counts().head()
cat_color = cat_color.rename_axis('unique_values').reset_index(name='counts').head(5)
cat_color = cat_color['unique_values'].tolist()


# Keep only records from top 5 colors

cat_colors = c_df.loc[c_df['color'].isin(cat_color)]
cat_colors.head()

   animal_type              color     outcome_type
0          Cat       Orange Tabby         Transfer
10         Cat        Black/White  Return to Owner
17         Cat        Black/White         Transfer
19         Cat        Brown Tabby         Adoption
20         Cat  Brown Tabby/White         Transfer

In [19]:
# Create List of top outcomes
top_outcomes = cat_colors['outcome_type'].value_counts().head(5)
top_outcomes = top_outcomes.rename_axis('unique_values').reset_index(name='counts')
top_outcomes = top_outcomes['unique_values'].tolist()

top_outcomes

['Transfer', 'Adoption', 'Euthanasia', 'Return to Owner', 'Died']

In [20]:
# Keep only records from top 5 outcomes

cat_colors = cat_colors.loc[cat_colors['outcome_type'].isin(top_outcomes)]
cat_colors.head()

   animal_type              color     outcome_type
0          Cat       Orange Tabby         Transfer
10         Cat        Black/White  Return to Owner
17         Cat        Black/White         Transfer
19         Cat        Brown Tabby         Adoption
20         Cat  Brown Tabby/White         Transfer

In [21]:
# Create groupby data frame
color_counts_df = cat_colors.groupby(['color','outcome_type'], as_index=False).count()

# Rename colums
columns = {'color': 'source', 
           'outcome_type': 'target',
           'animal_type':'value'}
color_sankey_df = color_counts_df.rename(columns = columns)
color_sankey_df

               source           target  value
0               Black         Adoption   1604
1               Black             Died     56
2               Black       Euthanasia    189
3               Black  Return to Owner    170
4               Black         Transfer   1819
5         Black/White         Adoption   1168
6         Black/White             Died     49
7         Black/White       Euthanasia    166
8         Black/White  Return to Owner    132
9         Black/White         Transfer   1277
10        Brown Tabby         Adoption   1879
11        Brown Tabby             Died     58
12        Brown Tabby       Euthanasia    217
13        Brown Tabby  Return to Owner    183
14        Brown Tabby         Transfer   2096
15  Brown Tabby/White         Adoption   1079
16  Brown Tabby/White             Died     37
17  Brown Tabby/White       Euthanasia    100
18  Brown Tabby/White  Return to Owner    112
19  Brown Tabby/White         Transfer   1004
20       Orange Tabby         Adoption    869
21       Orange Tabby             Died     20
22       Orange Tabby       Euthanasia    111
23       Orange Tabby  Return to Owner    128
24       Orange Tabby         Transfer   1045

In [22]:
# Save csv
color_sankey_df.to_csv("colors_data",index=False)